@charset "utf-8";
#data-table{width:960px; height:auto}
#data-table .content-table{border: 1px solid #ddd;border-top:3px solid #ddd;margin-top:5px;padding:2px;width:954px}
#data-table .columns, #data-table .row{width:954px}
#data-table .columns{margin:0 3px;/* background: #474747; padding-top: 5px; padding-bottom: 5px;*/}
#data-table .columns .col_det_1{width: 240px;padding-left:20px}
#data-table .columns .col_det_2{width: 110px;padding:7px 20px}
#data-table .columns .col_det_3{width: 500px;padding-left:20px}
#data-table .columns > div,  #data-table .row > div, #data-table .row .historial > div{padding: 8px 0 8px 17px;height:auto;line-height:20px;word-wrap:break-word}
#data-table .light{background-color: #f7f7f7}
#data-table .columns > div{border-left: 1px solid #dfdfdf;font-size:11px;font-weight:700;padding:4px 0 0 16px;height:18px;line-height:normal}
#data-table .columns div:first-child{border:none}
#data-table .columns a.up, #data-table .columns a.down{width:12px;height:14px;display:block;background: url(../../images/seller/botones.gif) no-repeat;float:left}
#data-table .columns span{float:left}
#data-table .columns a.up{background-position:-121px -107px; margin-left:5px}
#data-table .columns a.down{background-position: -130px -107px}
#data-table .row .table_action a, #data-table .columns .table_action a{width:16px;height:16px;display:block;float:left;margin:3px 0 0 9px;background:url(../../images/seller/botones.gif) no-repeat}
#data-table .row .col_det_1{width: 240px;padding-left:20px}
#data-table .row .col_det_2{width: 110px;padding:7px 20px;text-align:center}
#data-table .row .col_det_3{width: 500px;padding-left:20px}
#data-table .row a.none{background: none;text-decoration:underline;text-align:center}
#data-table .row a.none_disabled{background: none;text-decoration:underline;color:#919191;font-size:11px;text-align:center}
#data-table .row a.ac1{background-position: 0 -110px}
#data-table .row a.ac2{background-position: -25px -110px}
#data-table .row a.ac3{background-position: -51px -110px}
#data-table .row a.ac4{background-position: -76px -110px}
#data-table .row a.ac5{background-position: -76px -47px}
#data-table .row a.ac6{background-position: -217px -186px}
#data-table .row a.ac7{background-position: -233px -186px}
#data-table .row a.ac8{background-position: -249px -186px}
#data-table .row a.ac9{background-position: -302px -186px}
#data-table .row a.ac10{background-position: -321px -187px}
#data-table .row a.ac11{background-position: -339px -187px}
#data-table .row a.ac1_disabled{background-position: -230px -110px}
#data-table .row a.ac2_disabled{background-position: -255px -110px}
#data-table .row a.ac3_disabled{background-position: -281px -110px}
#data-table .row a.ac4_disabled{background-position: -306px -110px}
#data-table .row a.ac5_disabled{background-position: -328px -110px}
#data-table .row a.ac7_disabled{background-position: -266px -186px}
#data-table .row a.ac8_disabled{background-position: -282px -186px}
td.left{text-align: left;}
td.right{text-align: right;}
td.center{text-align: center;}
ul.list_msg_errors > li,div.sumary_error{margin:3px 0}
.table-custom-happyland {
    font-size: 12px;
}